/***** SIDEBAR *****/
.sidebar {
    position: fixed;
    top: 72px;
    height: 100%;
    background-color: var(--sidebar-bg-color);
    display: flex;
    flex-direction: column;
  }
  
  .sidebar button {
    position: relative;
    width: 88px;
    min-height: 88px;
    margin: 0 0 1px -1px;
    padding: 8px;
    background-color: var(--nav-bg-color);
  }
  
  .sidebar button:hover {
    filter: brightness(95%);
  }
  
  .sidebar__button__corner {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
  }
  
  .sidebar__button__icon {
    height: 2.35em;
    margin: 8px 0;
  }
  
  .sidebar p {
    font-size: 80%;
    color: var(--text-color);
  }
  
  .sidebar button:nth-child(8), 
  .sidebar button:nth-child(9) {
    min-height: 56px;
  }
  
  .sidebar button:nth-child(9) p {
    font-size: 2rem;
    font-weight: 400;
  }
  
  .sidebar a {
    width: 88px;
    height: 100%;
    padding: 8px;
  }
  
  .sidebar a div {
    position: absolute;
    left: 30px;
    bottom: 72px;
    width: 28px;
    height: 28px;
    padding: 8px;
    border-radius: 4px 4px 0 0;
    background-color: white;
  }
  
  .sidebar a svg {
    width: 12px;
    height: 12px;
    transform: rotate(180deg);
  }